In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('cities.csv')
df = pd.DataFrame(data)
df.head()

,ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Punta Arenas,75,CL,1562532532,87,-53.16,-70.91,6.00,2.60
1,1,Bluff,100,AU,1562532385,80,-23.58,149.07,16.00,5.44
2,2,Mahebourg,75,MU,1562532532,83,-20.41,57.70,22.00,2.68
3,3,Hermanus,36,ZA,1562532532,79,-34.42,19.24,14.44,1.34
4,4,Aranos,0,NaN,1562532532,19,-24.14,19.11,10.95,3.80

In [3]:
df.to_html('cities.html', index = False)